@font-face {
    font-family: 'Epilogue';
    font-weight: 300;
    font-style: normal;
    src: local('Epilogue'), url('../font/Epilogue-Light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    font-weight: 400;
    font-style: normal;
    src: local('Epilogue'), url('../font/Epilogue-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Epilogue';
    font-weight: 600;
    font-style: normal;
    src: local('Epilogue'), url('../font/Epilogue-SemiBold.woff') format('woff');
    font-display: swap;
}
