<section class="catalog section">
    <h2 class="catalog-heading">Catalog</h2>
    <ul class="catalog-list">
        <li class="catalog-list-item">
            <div class="catalog-list-item-card">
                <figure class="catalog-list-item-card-display">
                    <img 
                        srcset="../src/images/catalog/watch1@1x.jpg 1x, ../src/images/catalog/watch1@2x.jpg 2x"
                        src="../src/images/catalog/watch1.jpg" 
                        width="275" 
                        alt="watch" 
                        class="catalog-list-item-card-image"
                    >
                    <figcaption class="catalog-list-item-overlay">
                        <div class="catalog-overlay-text">
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DESCRIPTION</h3>
                                <p class="catalog-overlay-text-description">Richly detailed with an understated design - the Police Men's Greenlane watch.</p>
                            </div>
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DETAILS & FEATURESTION</h3>
                                <ul class="catalog-overlay-text-list">
                                    <li class="catalog-overlay-text-list-item">Gender: man</li>
                                    <li class="catalog-overlay-text-list-item">Size: 46x54.5mm</li>
                                    <li class="catalog-overlay-text-list-item">Case Colour: Steel</li>
                                    <li class="catalog-overlay-text-list-item">Band Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Case Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Features: Multifunction</li>
                                    <li class="catalog-overlay-text-list-item">Water Resistant: 5 (ATM)</li>
                                    <li class="catalog-overlay-text-list-item">Band Colour: Steel</li>
                                </ul>
                            </div>
                        </div>
                    </figcaption>
                </figure>
                <div class="catalog-list-item-card-text">
                    <h3 class="catalog-list-item-card-description">Tube Watch S42 Date Steel With Black Case</h3>
                    <p class="catalog-list-item-card-price">€395</p>
                </div>
            </div>
        </li>
        <li class="catalog-list-item">
            <div class="catalog-list-item-card">
                <figure class="catalog-list-item-card-display">
                    <img srcset="../src/images/catalog/watch2@1x.jpg 1x, ../src/images/catalog/watch2@2x.jpg 2x"
                        src="../src/images/catalog/watch2.jpg" 
                        width="275" 
                        alt="watch" 
                        class="catalog-list-item-card-image"
                    >
                    <figcaption class="catalog-list-item-overlay">
                        <div class="catalog-overlay-text">
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DESCRIPTION</h3>
                                <p class="catalog-overlay-text-description">Richly detailed with an understated design - the Police Men's Greenlane watch.</p>
                            </div>
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DETAILS & FEATURESTION</h3>
                                <ul class="catalog-overlay-text-list">
                                    <li class="catalog-overlay-text-list-item">Gender: man</li>
                                    <li class="catalog-overlay-text-list-item">Size: 46x54.5mm</li>
                                    <li class="catalog-overlay-text-list-item">Case Colour: Steel</li>
                                    <li class="catalog-overlay-text-list-item">Band Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Case Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Features: Multifunction</li>
                                    <li class="catalog-overlay-text-list-item">Water Resistant: 5 (ATM)</li>
                                    <li class="catalog-overlay-text-list-item">Band Colour: Steel</li>
                                </ul>
                            </div>
                        </div>
                    </figcaption>
                </figure>
                <div class="catalog-list-item-card-text">
                    <h3 class="catalog-list-item-card-description">Avondale Watch Police For Men</h3>
                    <p class="catalog-list-item-card-price">€800</p>
                </div>
            </div>
        </li>
        <li class="catalog-list-item">
            <div class="catalog-list-item-card">
                <figure class="catalog-list-item-card-display">
                    <img srcset="../src/images/catalog/watch3@1x.jpg 1x, ../src/images/catalog/watch3@2x.jpg 2x"
                        src="../src/images/catalog/watch3.jpg" 
                        width="275" 
                        alt="watch" 
                        class="catalog-list-item-card-image"
                    >
                    <figcaption class="catalog-list-item-overlay">
                        <div class="catalog-overlay-text">
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DESCRIPTION</h3>
                                <p class="catalog-overlay-text-description">Richly detailed with an understated design - the Police Men's Greenlane watch.</p>
                            </div>
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DETAILS & FEATURESTION</h3>
                                <ul class="catalog-overlay-text-list">
                                    <li class="catalog-overlay-text-list-item">Gender: man</li>
                                    <li class="catalog-overlay-text-list-item">Size: 46x54.5mm</li>
                                    <li class="catalog-overlay-text-list-item">Case Colour: Steel</li>
                                    <li class="catalog-overlay-text-list-item">Band Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Case Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Features: Multifunction</li>
                                    <li class="catalog-overlay-text-list-item">Water Resistant: 5 (ATM)</li>
                                    <li class="catalog-overlay-text-list-item">Band Colour: Steel</li>
                                </ul>
                            </div>
                        </div>
                    </figcaption>
                </figure>
                <div class="catalog-list-item-card-text">
                    <h3 class="catalog-list-item-card-description">Diver 300M Co‑Axial Master Chronometer Chronograph</h3>
                    <p class="catalog-list-item-card-price">€600</p>
                </div>
            </div>
        </li>
        <li class="catalog-list-item">
            <div class="catalog-list-item-card">
                <figure class="catalog-list-item-card-display">
                    <img srcset="../src/images/catalog/watch4@1x.jpg 1x, ../src/images/catalog/watch4@2x.jpg 2x"
                        src="../src/images/catalog/watch4.jpg" 
                        width="275" 
                        alt="watch" 
                        class="catalog-list-item-card-image"
                    >
                    <figcaption class="catalog-list-item-overlay">
                        <div class="catalog-overlay-text">
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DESCRIPTION</h3>
                                <p class="catalog-overlay-text-description">Richly detailed with an understated design - the Police Men's Greenlane watch.</p>
                            </div>
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DETAILS & FEATURESTION</h3>
                                <ul class="catalog-overlay-text-list">
                                    <li class="catalog-overlay-text-list-item">Gender: man</li>
                                    <li class="catalog-overlay-text-list-item">Size: 46x54.5mm</li>
                                    <li class="catalog-overlay-text-list-item">Case Colour: Steel</li>
                                    <li class="catalog-overlay-text-list-item">Band Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Case Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Features: Multifunction</li>
                                    <li class="catalog-overlay-text-list-item">Water Resistant: 5 (ATM)</li>
                                    <li class="catalog-overlay-text-list-item">Band Colour: Steel</li>
                                </ul>
                            </div>
                        </div>
                    </figcaption>
                </figure>
                <div class="catalog-list-item-card-text">
                    <h3 class="catalog-list-item-card-description">Diver 300M Co-Axial Master Chronometer</h3>
                    <p class="catalog-list-item-card-price">€1400</p>
                </div>
            </div>
        </li>
        <li class="catalog-list-item">
            <div class="catalog-list-item-card">
                <figure class="catalog-list-item-card-display">
                    <img srcset="../src/images/catalog/watch5@1x.jpg 1x, ../src/images/catalog/watch5@2x.jpg 2x"
                        src="../src/images/catalog/watch5.jpg" 
                        width="275" 
                        alt="watch" 
                        class="catalog-list-item-card-image"
                    >
                    <figcaption class="catalog-list-item-overlay">
                        <div class="catalog-overlay-text">
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DESCRIPTION</h3>
                                <p class="catalog-overlay-text-description">Richly detailed with an understated design - the Police Men's Greenlane watch.</p>
                            </div>
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DETAILS & FEATURESTION</h3>
                                <ul class="catalog-overlay-text-list">
                                    <li class="catalog-overlay-text-list-item">Gender: man</li>
                                    <li class="catalog-overlay-text-list-item">Size: 46x54.5mm</li>
                                    <li class="catalog-overlay-text-list-item">Case Colour: Steel</li>
                                    <li class="catalog-overlay-text-list-item">Band Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Case Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Features: Multifunction</li>
                                    <li class="catalog-overlay-text-list-item">Water Resistant: 5 (ATM)</li>
                                    <li class="catalog-overlay-text-list-item">Band Colour: Steel</li>
                                </ul>
                            </div>
                        </div>
                    </figcaption>
                </figure>
                <div class="catalog-list-item-card-text">
                    <h3 class="catalog-list-item-card-description">Taman Watch By Police For Men</h3>
                    <p class="catalog-list-item-card-price">€500</p>
                </div>
            </div>
        </li>
        <li class="catalog-list-item">
            <div class="catalog-list-item-card">
                <figure class="catalog-list-item-card-display">
                    <img srcset="../src/images/catalog/watch6@1x.jpg 1x, ../src/images/catalog/watch6@2x.jpg 2x"
                        src="../src/images/catalog/watch6.jpg" 
                        width="275" 
                        alt="watch" 
                        class="catalog-list-item-card-image"
                    >
                    <figcaption class="catalog-list-item-overlay">
                        <div class="catalog-overlay-text">
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DESCRIPTION</h3>
                                <p class="catalog-overlay-text-description">Richly detailed with an understated design - the Police Men's Greenlane watch.</p>
                            </div>
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DETAILS & FEATURESTION</h3>
                                <ul class="catalog-overlay-text-list">
                                    <li class="catalog-overlay-text-list-item">Gender: man</li>
                                    <li class="catalog-overlay-text-list-item">Size: 46x54.5mm</li>
                                    <li class="catalog-overlay-text-list-item">Case Colour: Steel</li>
                                    <li class="catalog-overlay-text-list-item">Band Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Case Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Features: Multifunction</li>
                                    <li class="catalog-overlay-text-list-item">Water Resistant: 5 (ATM)</li>
                                    <li class="catalog-overlay-text-list-item">Band Colour: Steel</li>
                                </ul>
                            </div>
                        </div>
                    </figcaption>
                </figure>
                <div class="catalog-list-item-card-text">
                    <h3 class="catalog-list-item-card-description">Malawi Watch Police For Men</h3>
                    <p class="catalog-list-item-card-price">€555</p>
                </div>
            </div>
        </li>
        <li class="catalog-list-item">
            <div class="catalog-list-item-card">
                <figure class="catalog-list-item-card-display">
                    <img srcset="../src/images/catalog/watch7@1x.jpg 1x, ../src/images/catalog/watch7@2x.jpg 2x"
                        src="../src/images/catalog/watch7.jpg" 
                        width="275" 
                        alt="watch" 
                        class="catalog-list-item-card-image"
                    >
                    <figcaption class="catalog-list-item-overlay">
                        <div class="catalog-overlay-text">
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DESCRIPTION</h3>
                                <p class="catalog-overlay-text-description">Richly detailed with an understated design - the Police Men's Greenlane watch.</p>
                            </div>
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DETAILS & FEATURESTION</h3>
                                <ul class="catalog-overlay-text-list">
                                    <li class="catalog-overlay-text-list-item">Gender: man</li>
                                    <li class="catalog-overlay-text-list-item">Size: 46x54.5mm</li>
                                    <li class="catalog-overlay-text-list-item">Case Colour: Steel</li>
                                    <li class="catalog-overlay-text-list-item">Band Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Case Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Features: Multifunction</li>
                                    <li class="catalog-overlay-text-list-item">Water Resistant: 5 (ATM)</li>
                                    <li class="catalog-overlay-text-list-item">Band Colour: Steel</li>
                                </ul>
                            </div>
                        </div>
                    </figcaption>
                </figure>
                <div class="catalog-list-item-card-text">
                    <h3 class="catalog-list-item-card-description">Diver 300M Co-Axial Master Chronometer</h3>
                    <p class="catalog-list-item-card-price">€1200</p>
                </div>
            </div>
        </li>
        <li class="catalog-list-item">
            <div class="catalog-list-item-card">
                <figure class="catalog-list-item-card-display">
                    <img srcset="../src/images/catalog/watch8@1x.jpg 1x, ../src/images/catalog/watch8@2x.jpg 2x"
                        src="../src/images/catalog/watch8.jpg" 
                        width="275" 
                        alt="watch" 
                        class="catalog-list-item-card-image"
                    >
                    <figcaption class="catalog-list-item-overlay">
                        <div class="catalog-overlay-text">
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DESCRIPTION</h3>
                                <p class="catalog-overlay-text-description">Richly detailed with an understated design - the Police Men's Greenlane watch.</p>
                            </div>
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DETAILS & FEATURESTION</h3>
                                <ul class="catalog-overlay-text-list">
                                    <li class="catalog-overlay-text-list-item">Gender: man</li>
                                    <li class="catalog-overlay-text-list-item">Size: 46x54.5mm</li>
                                    <li class="catalog-overlay-text-list-item">Case Colour: Steel</li>
                                    <li class="catalog-overlay-text-list-item">Band Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Case Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Features: Multifunction</li>
                                    <li class="catalog-overlay-text-list-item">Water Resistant: 5 (ATM)</li>
                                    <li class="catalog-overlay-text-list-item">Band Colour: Steel</li>
                                </ul>
                            </div>
                        </div>
                    </figcaption>
                </figure>
                <div class="catalog-list-item-card-text">
                    <h3 class="catalog-list-item-card-description">Greenlane Watch By Police For Men</h3>
                    <p class="catalog-list-item-card-price">€1000</p>
                </div>
            </div>
        </li>
        <li class="catalog-list-item extra-set">
            <div class="catalog-list-item-card">
                <figure class="catalog-list-item-card-display">
                    <img srcset="../src/images/catalog/watch9@1x.jpg 1x, ../src/images/catalog/watch9@2x.jpg 2x"
                        src="../src/images/catalog/watch9.jpg" 
                        width="275" 
                        alt="watch" 
                        class="catalog-list-item-card-image"
                    >
                    <figcaption class="catalog-list-item-overlay">
                        <div class="catalog-overlay-text">
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DESCRIPTION</h3>
                                <p class="catalog-overlay-text-description">Richly detailed with an understated design - the Police Men's Greenlane watch.</p>
                            </div>
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DETAILS & FEATURESTION</h3>
                                <ul class="catalog-overlay-text-list">
                                    <li class="catalog-overlay-text-list-item">Gender: man</li>
                                    <li class="catalog-overlay-text-list-item">Size: 46x54.5mm</li>
                                    <li class="catalog-overlay-text-list-item">Case Colour: Steel</li>
                                    <li class="catalog-overlay-text-list-item">Band Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Case Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Features: Multifunction</li>
                                    <li class="catalog-overlay-text-list-item">Water Resistant: 5 (ATM)</li>
                                    <li class="catalog-overlay-text-list-item">Band Colour: Steel</li>
                                </ul>
                            </div>
                        </div>
                    </figcaption>
                </figure>
                <div class="catalog-list-item-card-text">
                    <h3 class="catalog-list-item-card-description">Squardrc 5402 Chrono</h3>
                    <p class="catalog-list-item-card-price">€359</p>
                </div>
            </div>
        </li>
        <li class="catalog-list-item extra-set">
            <div class="catalog-list-item-card">
                 <figure class="catalog-list-item-card-display">
                    <img srcset="../src/images/catalog/watch10@1x.jpg 1x, ../src/images/catalog/watch10@2x.jpg 2x"
                        src="../src/images/catalog/watch10.jpg" 
                        width="275" 
                        alt="watch" 
                        class="catalog-list-item-card-image"
                    >
                    <figcaption class="catalog-list-item-overlay">
                        <div class="catalog-overlay-text">
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DESCRIPTION</h3>
                                <p class="catalog-overlay-text-description">Richly detailed with an understated design - the Police Men's Greenlane watch.</p>
                            </div>
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DETAILS & FEATURESTION</h3>
                                <ul class="catalog-overlay-text-list">
                                    <li class="catalog-overlay-text-list-item">Gender: man</li>
                                    <li class="catalog-overlay-text-list-item">Size: 46x54.5mm</li>
                                    <li class="catalog-overlay-text-list-item">Case Colour: Steel</li>
                                    <li class="catalog-overlay-text-list-item">Band Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Case Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Features: Multifunction</li>
                                    <li class="catalog-overlay-text-list-item">Water Resistant: 5 (ATM)</li>
                                    <li class="catalog-overlay-text-list-item">Band Colour: Steel</li>
                                </ul>
                            </div>
                        </div>
                    </figcaption>
                </figure>
                <div class="catalog-list-item-card-text">
                    <h3 class="catalog-list-item-card-description">Diver  300M Co‑Axial Master Chronometer Chronograph</h3>
                    <p class="catalog-list-item-card-price">€400</p>
                </div>
            </div>
        </li>
        <li class="catalog-list-item extra-set">
            <div class="catalog-list-item-card">
                <figure class="catalog-list-item-card-display">
                    <img srcset="../src/images/catalog/watch11@1x.jpg 1x, ../src/images/catalog/watch11@2x.jpg 2x"
                        src="../src/images/catalog/watch11.jpg" 
                        width="275" 
                        alt="watch" 
                        class="catalog-list-item-card-image"
                    >
                    <figcaption class="catalog-list-item-overlay">
                        <div class="catalog-overlay-text">
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DESCRIPTION</h3>
                                <p class="catalog-overlay-text-description">Richly detailed with an understated design - the Police Men's Greenlane watch.</p>
                            </div>
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DETAILS & FEATURESTION</h3>
                                <ul class="catalog-overlay-text-list">
                                    <li class="catalog-overlay-text-list-item">Gender: man</li>
                                    <li class="catalog-overlay-text-list-item">Size: 46x54.5mm</li>
                                    <li class="catalog-overlay-text-list-item">Case Colour: Steel</li>
                                    <li class="catalog-overlay-text-list-item">Band Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Case Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Features: Multifunction</li>
                                    <li class="catalog-overlay-text-list-item">Water Resistant: 5 (ATM)</li>
                                    <li class="catalog-overlay-text-list-item">Band Colour: Steel</li>
                                </ul>
                            </div>
                        </div>
                    </figcaption>
                </figure>
                <div class="catalog-list-item-card-text">
                    <h3 class="catalog-list-item-card-description">Citizen</h3>
                    <p class="catalog-list-item-card-price">€519</p>
                </div>
            </div>
        </li>
        <li class="catalog-list-item extra-set">
            <div class="catalog-list-item-card">
                <figure class="catalog-list-item-card-display">
                    <img srcset="../src/images/catalog/watch12@1x.jpg 1x, ../src/images/catalog/watch12@2x.jpg 2x"
                        src="../src/images/catalog/watch12.jpg" 
                        width="275" 
                        alt="watch" 
                        class="catalog-list-item-card-image"
                    >
                    <figcaption class="catalog-list-item-overlay">
                        <div class="catalog-overlay-text">
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DESCRIPTION</h3>
                                <p class="catalog-overlay-text-description">Richly detailed with an understated design - the Police Men's Greenlane watch.</p>
                            </div>
                            <div class="catalog-overlay-text-content">
                                <h3 class="catalog-overlay-text-heading">DETAILS & FEATURESTION</h3>
                                <ul class="catalog-overlay-text-list">
                                    <li class="catalog-overlay-text-list-item">Gender: man</li>
                                    <li class="catalog-overlay-text-list-item">Size: 46x54.5mm</li>
                                    <li class="catalog-overlay-text-list-item">Case Colour: Steel</li>
                                    <li class="catalog-overlay-text-list-item">Band Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Case Material: Metal</li>
                                    <li class="catalog-overlay-text-list-item">Features: Multifunction</li>
                                    <li class="catalog-overlay-text-list-item">Water Resistant: 5 (ATM)</li>
                                    <li class="catalog-overlay-text-list-item">Band Colour: Steel</li>
                                </ul>
                            </div>
                        </div>
                    </figcaption>
                </figure>
                <div class="catalog-list-item-card-text">
                    <h3 class="catalog-list-item-card-description">Armani Exchange</h3>
                    <p class="catalog-list-item-card-price">€400</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="catalog-button-holder">
        <button class="catalog-button button" type="button" data-modal-open>BUY NOW</button>
    </div>
</section>
<div class="modal is-hidden" data-modal>
    <div class="modal-container">
        <button class="modal-close" type="button" data-modal-close>
            <svg class="modal-close-icon">
                <use href="../src/images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-card">
            <img 
                srcset="../src/images/catalog/watch1@1x.jpg 1x, ../src/images/catalog/watch1@2x.jpg 2x"
                src="../src/images/catalog/watch1.jpg" 
                width="275" 
                alt="watch" 
                class="modal-card-image"
            >
            <div class="modal-card-text">
                <h3 class="modal-card-description">Tube Watch S42 Date Steel With Black Case</h3>
                <p class="modal-card-price">€395</p>
            </div>
        </div>
        <form class="modal-form">
            <div class="modal-form-group" role="group">
                <label for="name" class="modal-form-label">
                    <span class="modal-form-label-text">Full Name</span>
                    <input type="name" class="modal-form-label-input" name="name" placeholder="Enter your full name" required>
                </label>
                <label for="email" class="modal-form-label">
                    <span class="modal-form-label-text">Email</span>
                    <input type="email" class="modal-form-label-input" name="email" placeholder="Enter your email" required>
                </label>
                <label for="cardnum" class="modal-form-label">
                    <span class="modal-form-label-text">Card Number</span>
                    <input type="number" class="modal-form-label-input" name="cardnum" placeholder="Enter card" required>
                </label>
                <label for="comment" class="modal-form-comment-label">
                    <span class="modal-form-comment-label-text">Comments</span>
                    <textarea type="text" class="modal-form-comment-label-textarea" name="comment" placeholder="Enter your text" required></textarea>
                </label>
            </div>
            <button class="modal-button button" type="submit">submit</button>
            <p class="modal-terms">By clicking on “Submit” button, you agree to our Privacy Policy, and allow Promodo to use this information for marketing purposes.</p>
        </form>
    </div>
</div>