<section class="temporary-section"></section>
<section class="temporary-section"></section>

<footer class="section footer">
  <div class="container">
    <div class="block address-block">
      <a class="link" href="index.html">
        <svg class="logo">
          <use href="#icon-logo"></use>
        </svg>
      </a>
      <address>
        <ul class="list address-links">
          <li class="address-links-item">
            <a href="tel:+380684439426" class="link tel-link"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="address-links-item">
            <a
              class="link map"
              href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+USA/@40.7335932,-111.9626616,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p?entry=ttu"
              target="_blank"
              rel="noreferrer noopener"
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>

    <div class="block navigation-block">
      <ul class="list navigation-links">
        <li class="navigation-links-item">
          <a class="link" href="#about-us">ABOUT US</a>
        </li>
        <li class="navigation-links-item">
          <a class="link" href="#catalog">CATALOG</a>
        </li>
        <li class="navigation-links-item">
          <a class="link" href="#sale">SALE</a>
        </li>
      </ul>
    </div>

    <div class="block list social-media-block">
      <ul class="list social-media-links">
        <li class="social-media-item">
          <a class="link" href="#facebook-link">
            <svg class="icon icon-facebook">
              <use href="images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a class="link" href="#instagran-link">
            <svg class="icon icon-instagram">
              <use href="images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a class="link" href="#youtube-link">
            <svg class="icon icon-youtube">
              <use href="images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-notes">
      <p class="copyright">&copy2022 The Watch Spot. All rights reserved.</p>
      <ul class="list">
        <li class="privacy-policy">
          <a href="#privacy-policy">Privacy Policy</a>
        </li>
        <li class="tos">
          <a href="#tos">Terms of Service</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<svg
  xmlns="http://www.w3.org/2000/svg"
  style="
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
  "
>
  <symbol id="icon-logo" viewBox="0 0 50 50">
    <path
      fill="url(#a)"
      d="m35.161 23.205-8.434-19.32-1.84-1.276-2.156-.686-2.917-.785-3.425 1.471-2.283 1.275 8.625 19.321h12.43Z"
    />
    <path
      fill="url(#b)"
      d="m4.892 16.743 8.435 19.366 1.84 1.278 2.156.688 2.917.787 3.425-1.475 2.283-1.278-8.625-19.366H4.893Z"
    />
    <path
      fill="#fff"
      d="M13.655 4.136.56 23.064l13.095.14L23.12 4.136c.665-1.95 2.744-.813 3.701 0-4.088-7.49-10.481-3.121-13.167 0ZM26.346 35.864 39.44 16.936l-13.094-.14-9.466 19.068c-.665 1.95-2.744.813-3.701 0 4.088 7.49 10.481 3.121 13.167 0Z"
    />
  </symbol>

  <defs>
    <linearGradient
      id="a"
      x1="32.98"
      x2="22.977"
      y1="23.205"
      y2="4.491"
      gradientUnits="userSpaceOnUse"
    >
      <stop />
      <stop offset=".495" stop-color="#fff" />
      <stop offset="1" stop-color="#fff" />
    </linearGradient>
    <linearGradient
      id="b"
      x1="7.074"
      x2="17.114"
      y1="16.743"
      y2="35.481"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#0C0C0C" />
      <stop offset=".495" stop-color="#fff" />
      <stop offset="1" stop-color="#fff" />
    </linearGradient>
  </defs>
</svg>
