<footer class="section footer">
  <div class="container footer">
    <div class="block address-block">
      <a class="link" href="index.html">
        <svg class="logo">
          <use href="#logo"></use>
        </svg>
      </a>
      <address>
        <ul class="list address-links">
          <li class="address-links-item">
            <a href="tel:+380684439426" class="link tel-link"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="address-links-item">
            <a
              class="link map"
              href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+USA/@40.7335932,-111.9626616,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p?entry=ttu"
              target="_blank"
              rel="noreferrer noopener"
              >1678 S. Pioneer Road Salt Lake City<br />UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>

    <div class="block navigation-block">
      <ul class="list navigation-links">
        <li class="navigation-links-item">
          <a class="link" href="#about-us">ABOUT US</a>
        </li>
        <li class="navigation-links-item">
          <a class="link" href="#catalog">CATALOG</a>
        </li>
        <li class="navigation-links-item">
          <a class="link" href="#sale">SALE</a>
        </li>
      </ul>
    </div>

    <div class="block list social-media-block">
      <ul class="list social-media-links">
        <li class="social-media-item">
          <a
            class="link"
            href="#facebook-link"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="icon icon-facebook">
              <use href="images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            class="link"
            href="#instagran-link"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="icon icon-instagram">
              <use href="images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            class="link"
            href="#youtube-link"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="icon icon-youtube">
              <use href="images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container footer-notes">
    <p class="copyright">&copy2022 The Watch Spot. All rights reserved.</p>
    <ul class="list">
      <li class="privacy-policy">
        <a href="#privacy-policy">Privacy Policy</a>
      </li>
      <li class="tos">
        <a href="#tos">Terms of Service</a>
      </li>
    </ul>
  </div>
</footer>

<svg
  xmlns="http://www.w3.org/2000/svg"
  style="
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
  "
>
  <symbol id="logo" viewBox="0 0 50 50">
    <path
      id="Vector 2"
      d="M43.9511 29.0059L33.4076 4.85455L31.1086 3.26081L28.4133 2.40264L24.7667 1.42188L20.4858 3.26081L17.632 4.85455L28.4133 29.0059H43.9511Z"
      fill="url(#paint0_linear_102_110)"
    />
    <path
      id="Vector 3"
      d="M6.11333 20.9295L16.6568 45.1374L18.9558 46.7349L21.6511 47.5951L25.2978 48.5781L29.5786 46.7349L32.4325 45.1374L21.6511 20.9295L6.11333 20.9295Z"
      fill="url(#paint1_linear_102_110)"
    />
    <path
      id="Vector 1"
      d="M17.0682 5.17001L0.699824 28.8298L17.0682 29.0052L28.9005 5.17001C29.7312 2.73162 32.3306 4.15401 33.5264 5.17001C28.4158 -4.19337 20.4248 1.2686 17.0682 5.17001Z"
      fill="white"
    />
    <path
      id="Vector 4"
      d="M32.9318 44.83L49.3002 21.1702L32.9318 20.9948L21.0995 44.83C20.2688 47.2684 17.6694 45.846 16.4736 44.83C21.5842 54.1934 29.5752 48.7314 32.9318 44.83Z"
      fill="white"
    />
  </symbol>
  <defs>
    <linearGradient
      id="paint0_linear_102_110"
      x1="41.2244"
      y1="29.0059"
      x2="28.7202"
      y2="5.61312"
      gradientUnits="userSpaceOnUse"
    >
      <stop />
      <stop offset="0.494792" stop-color="white" />
      <stop offset="1" stop-color="white" />
    </linearGradient>
    <linearGradient
      id="paint1_linear_102_110"
      x1="8.84009"
      y1="20.9295"
      x2="21.3898"
      y2="44.3526"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#0C0C0C" />
      <stop offset="0.494792" stop-color="white" />
      <stop offset="1" stop-color="white" />
    </linearGradient>
  </defs>
</svg>
