<footer class="section footer">
  <div class="container footer">
    <div class="block address-block">
      <a class="link" href="index.html">
        <img
          class="footer-logo"
          src="./images/logo.svg"
          alt="logo"
          width="14px"
        />
      </a>
      <address>
        <ul class="list address-links">
          <li class="address-links-item">
            <a href="tel:+380684439426" class="link tel-link"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="address-links-item">
            <a
              class="link map"
              href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+USA/@40.7335932,-111.9626616,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p?entry=ttu"
              target="_blank"
              rel="noreferrer noopener"
              >1678 S. Pioneer Road Salt Lake City<br />UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>

    <div class="block navigation-block">
      <ul class="list navigation-links">
        <li class="navigation-links-item">
          <a class="link" href="#aboutus">ABOUT US</a>
        </li>
        <li class="navigation-links-item">
          <a class="link" href="#catalog">CATALOG</a>
        </li>
        <li class="navigation-links-item">
          <a class="link" href="#sale">SALE</a>
        </li>
      </ul>
    </div>

    <div class="block list social-media-block">
      <ul class="list social-media-links">
        <li class="social-media-item">
          <a
            class="social-media-link"
            href="#facebook-link"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="icon icon-facebook">
              <use href="images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            class="social-media-link"
            href="#instagran-link"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="icon icon-instagram">
              <use href="images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            class="social-media-link"
            href="#youtube-link"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="icon icon-youtube">
              <use href="images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container footer-notes">
    <p class="copyright">&copy2022 The Watch Spot. All rights reserved.</p>
    <ul class="list">
      <li class="privacy-policy">
        <a href="#privacy-policy" class="link">Privacy Policy</a>
      </li>
      <li class="tos">
        <a href="#tos" class="link">Terms of Service</a>
      </li>
    </ul>
  </div>
</footer>
