<header class="section header-section">
  <div class="container container-header-section">
    <nav class="header-nav">
      <a class="logo" href="./index.html">
        <!-- <svg>
          <use href="images/icons.svg#icon-logo"></use>
        </svg> -->
        <span class="logo">thewatchspot</span>
      </a>
      <ul class="header-navmenu">
        <li class="header-navmenu-item">
          <a class="header-navmenu-item-link" href="#aboutus">ABOUT US</a>
        </li>
        <li class="header-navmenu-item">
          <a class="header-navmenu-item-link" href="#catalog">CATALOG</a>
        </li>
        <li class="header-navmenu-item">
          <a class="header-navmenu-item-link" href="#sale">SALE</a>
        </li>
      </ul>
    </nav>
    <address class="address">
      <ul class="adress-detail-list">
        <li class="address-detail-list-item">
          <a class="adress-detail-list-item-link" href="tel:+380684439426"
            >+380 (68) 443-94-26</a
          >
        </li>
      </ul>
    </address>
    <button
      class="button-navmenu js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-nav"
    >
      <!-- <svg class="icon-menu-burger" width="8" height="8">
        <use href="./images/icons.svg#hamburger"></use>
      </svg> -->
    </button>
    <div class="header-nav-mobile js-menu-container" id="mobile-nav">
      <a class="logo" href="./index.html">
        <!-- <svg>
          <use href="images/icons.svg#icon-logo"></use>
        </svg> -->
        <span class="logo">thewatchspot</span>
      </a>
      <ul class="header-navmenu-mobile">
        <li class="header-navmenu-item-mobile active">
          <a class="header-navmenu-item-link-mobile" href="#aboutus"
            >ABOUT US</a
          >
        </li>
        <li class="header-navmenu-item-mobile">
          <a class="header-navmenu-item-link-mobile" href="#catalog">CATALOG</a>
        </li>
        <li class="header-navmenu-item-mobile">
          <a class="header-navmenu-item-link-mobile" href="#sale">SALE</a>
        </li>
      </ul>
      <button class="button-navmenu-close-mobile js-close-menu">
        <!-- <svg class="icon-navmenu-close" width="8" height="8">
          <use href="./images/icons.svg#close-black"></use>
        </svg> -->
      </button>
    </div>
  </div>
</header>
