<header class="section header-section">
  <div class="container container-header-section">
    <nav class="header-nav">
      <a class="logo" href="./index.html">
        <img src="./images/logo.svg" alt="logo" width="14px" />
        <span class="logo-name">thewatchspot</span>
      </a>
      <ul class="header-navmenu">
        <li class="header-navmenu-item">
          <a class="header-navmenu-item-link" href="#aboutus">ABOUT US</a>
        </li>
        <li class="header-navmenu-item">
          <a class="header-navmenu-item-link" href="#catalog">CATALOG</a>
        </li>
        <li class="header-navmenu-item">
          <a class="header-navmenu-item-link" href="#sale">SALE</a>
        </li>
      </ul>
    </nav>
    <address class="address">
      <a class="adress-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
    </address>
    <button
      class="button-navmenu js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-nav"
    >
      <svg class="icon-menu-burger" width="8" height="8">
        <use href="./images/icons.svg#icon-gg_menu"></use>
      </svg>
    </button>
    <div class="header-nav-mobile js-menu-container" id="mobile-nav">
      <div class="container container-mobile-header">
        <a class="logo-mobile" href="./index.html">
          <img src="./images/logo.svg" alt="logo" width="14px" />
          <span class="logo-name-mobile">thewatchspot</span>
        </a>
        <button class="button-navmenu-close-mobile js-close-menu">
          <svg class="icon-navmenu-close-mobile" width="8" height="8">
            <use href="./images/icons.svg#icon-close-mobile"></use>
          </svg>
        </button>
      </div>
      <ul class="header-navmenu-mobile">
        <li class="header-navmenu-item-mobile active">
          <a class="header-navmenu-item-link-mobile" href="#aboutus"
            >ABOUT US</a
          >
        </li>
        <li class="header-navmenu-item-mobile">
          <a class="header-navmenu-item-link-mobile" href="#catalog">CATALOG</a>
        </li>
        <li class="header-navmenu-item-mobile">
          <a class="header-navmenu-item-link-mobile" href="#sale">SALE</a>
        </li>
      </ul>
    </div>
  </div>
</header>
