<section class="hero">
    <div class="container hero-container">
      <h1 class="hero-title">Welcome to our collection of premium watches</h1>
      <div class="hero-content-wrap">
        <div class="hero-content">
          <div id="hero-slider" class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="swiper-image">
                  <picture>
                    <source media="(min-width: 768px)" srcset="./images/hero/hero-watch1@1x.jpg 1x, ./images/hero/hero-watch1@2x.jpg 2x" width="436" height="255" />
                    <source media="(min-width: 375px)" srcset="./images/hero/hero-watch1@1x-mob.jpg 1x, ./images/hero/hero-watch1@2x-mob.jpg 2x" width="266" height="200" />
                    <img class="hero-slider-img" src="./images/hero/hero-watch1@1x-mob.jpg" alt="Wristwatch" width="266" height="200" />
                  </picture>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-image">
                  <picture>
                    <source media="(min-width: 768px)" srcset="./images/hero/hero-watch2@1x.jpg 1x, ./images/hero/hero-watch2@2x.jpg 2x" width="436" height="255" />
                    <source media="(min-width: 375px)" srcset="./images/hero/hero-watch2@1x-mob.jpg 1x, ./images/hero/hero-watch2@2x-mob.jpg 2x" width="266" height="200" />
                    <img class="hero-slider-img" src="./images/hero/hero-watch2@1x-mob.jpg" alt="Wristwatch" width="266" height="200" />
                  </picture>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-image">
                  <picture>
                    <source media="(min-width: 768px)" srcset="./images/hero/hero-watch3@1x.jpg 1x, ./images/hero/hero-watch3@2x.jpg 2x" width="436" height="255" />
                    <source media="(min-width: 375px)" srcset="./images/hero/hero-watch3@1x-mob.jpg 1x, ./images/hero/hero-watch3@2x-mob.jpg 2x" width="266" height="200" />
                    <img class="hero-slider-img" src="./images/hero/hero-watch3@1x-mob.jpg" alt="Wristwatch" width="266" height="200" />
                  </picture>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-image">
                  <picture>
                    <source media="(min-width: 768px)" srcset="./images/hero/hero-watch4@1x.jpg 1x, ./images/hero/hero-watch4@2x.jpg 2x" width="436" height="255" />
                    <source media="(min-width: 375px)" srcset="./images/hero/hero-watch4@1x-mob.jpg 1x, ./images/hero/hero-watch4@2x-mob.jpg 2x" width="266" height="200" />
                    <img class="hero-slider-img" src="./images/hero/hero-watch4@1x-mob.jpg" alt="Wristwatch" width="266" height="200" />
                  </picture>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiper-image">
                  <picture>
                    <source media="(min-width: 768px)" srcset="./images/hero/hero-watch5@1x.jpg 1x, ./images/hero/hero-watch5@2x.jpg 2x" width="436" height="255" />
                    <source media="(min-width: 375px)" srcset="./images/hero/hero-watch5@1x-mob.jpg 1x, ./images/hero/hero-watch5@2x-mob.jpg 2x" width="266" height="200" />
                    <img class="hero-slider-img" src="./images/hero/hero-watch5@1x-mob.jpg" alt="Wristwatch" width="266" height="200" />
                  </picture>
                </div>
              </div>
            </div>
  
            <div class="hero-btn">
              <button type="button" class="hero-btn-slider-prev">
                <svg class="hero-btn-icon" width="24" height="24">
                  <use href="./images/icons.svg#icon-chevron-left"></use>
                </svg>
              </button>
  
              <button type="button" class="hero-btn-slider-next">
                <svg class="hero-btn-icon" width="24" height="24">
                  <use href="./images/icons.svg#icon-chevron-right"></use>
                </svg>
              </button>
            </div>
            <div class="hero-swiper-pagination"></div>
          </div>
  
          <p class="hero-text">
            Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.
          </p>

        </div>
        <div class="hero-image">
          <picture>
            <source media="(min-width: 1280px)" srcset="./images/hero/hero@1x-dest.jpg 1x, ./images/hero/hero@2x-dest.jpg 2x" width="676" height="394" />
            <source media="(min-width: 768px)" srcset="./images/hero/hero@1x-tabl.jpg 1x, ./images/hero/hero@2x-tabl.jpg 2x" width="704" height="410" />
            <source media="(min-width: 375px)" srcset="./images/hero/hero@1x-mob.jpg 1x, ./images/hero/hero@2x-mob.jpg 2x" width="335" height="410" />
            <img class="hero-main-img" src="./images/hero/hero@1x-mob.jpg" alt="Watch on hand" width="335" height="410" />
          </picture>
        </div>
      </div>
    </div>
  </section>
  