<section class="new-watches">
    <div class="container">       
       <h3 class="new-watches-subtitle">New watches</h3>
       <h2 class="new-watches-title">Green And Bronze—The Match Made In Heaven</h2>
       <ul class="new-watches-list">
        <li>
          <picture>
            <source srcset="images/new-watches/green-watch@1x-dest.jpg 1x, images/new-watches/green-watch@2x-dest.jpg 2x" media="(min-width: 1280px)">
            <source srcset="images/new-watches/green-watch@1x-tabl.jpg 1x, images/new-watches/green-watch@2x-tabl.jpg 2x" media="(min-width: 768px)">
            <source srcset="images/new-watches/green-watch@1x-mob.jpg 1x, images/new-watches/green-watch@2x-mob.jpg 2x" media="(max-width: 767px)">
            <img src="images/new-watches/green-watch@1x-mob.jpg">
          </picture>
        </li>
        <li>
          <picture>
            <source srcset="images/new-watches/bronze-watch@1x-dest.jpg 1x, images/new-watches/bronze-watch@2x-dest.jpg 2x" media="(min-width: 1280px)">
            <source srcset="images/new-watches/bronze-watch@1x-tabl.jpg 1x, images/new-watches/bronze-watch@2x-tabl.jpg 2x" media="(min-width: 768px)">
            <source srcset="images/new-watches/bronze-watch@1x-mob.jpg 1x, images/new-watches/bronze-watch@2x-mob.jpg 2x" media="(max-width: 767px)">
            <img src="images/new-watches/bronze-watch@1x-mob.jpg">
          </picture>
        </li>
       </ul>
    </div>
 </section>