<section id="sale" class="sale-section container">
    <h2 class="sale-section-title">Sale</h2>
    <div class="sale-section-wrapper">
        <div class="sale-gallery-block">
            <ul class="sale-gallery-block-small">
                <li class="sale-gallery-block-small-img">
                    <picture>
                        <source media="(min-width: 1280px)" srcset="./images/sale/sale-watch1@1x-dest.jpg 1x, ./images/sale/sale-watch1@2x-dest.jpg 2x" width="146" height="146" />
                        <source media="(min-width: 768px)" srcset="./images/sale/sale-watch1@1x.jpg 1x, ./images/sale/sale-watch1@2x.jpg 2x" width="146" height="146" />
                        <source media="(min-width: 375px)" srcset="./images/sale/sale-watch1@1x-mob.jpg 1x, ./images/sale/sale-watch1@2x-mob.jpg 2x" width="80" height="80" />
                        <img class="sale-main-sm-img" src="./images/sale/sale-watch1@1x-mob.jpg" alt="Wrist Watch" width="80" height="80" />
                    </picture>
                </li>
                <li class="sale-gallery-block-small-img">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./images/sale/sale-watch2@1x-dest.jpg 1x, ./images/sale/sale-watch2@2x-dest.jpg 2x" width="146" height="146" />
                        <source media="(min-width: 768px)" srcset="./images/sale/sale-watch2@1x.jpg 1x, ./images/sale/sale-watch2@2x.jpg 2x" width="146" height="146" />
                        <source media="(min-width: 375px)"
                            srcset="./images/sale/sale-watch2@1x-mob.jpg 1x, ./images/sale/sale-watch2@2x-mob.jpg 2x" width="80" height="80" />
                        <img class="sale-main-sm-img" src="./images/sale/sale-watch2@1x-mob.jpg" alt="Wrist Watch" width="80" height="80" />
                    </picture>
                </li>
                <li class="sale-gallery-block-small-img">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./images/sale/sale-watch3@1x-dest.jpg 1x, ./images/sale/sale-watch3@2x-dest.jpg 2x" width="146"
                            height="146" />
                        <source media="(min-width: 768px)" srcset="./images/sale/sale-watch3@1x.jpg 1x, ./images/sale/sale-watch3@2x.jpg 2x"
                            width="146" height="146" />
                        <source media="(min-width: 375px)"
                            srcset="./images/sale/sale-watch3@1x-mob.jpg 1x, ./images/sale/sale-watch3@2x-mob.jpg 2x" width="80"
                            height="80" />
                        <img class="sale-main-sm-img" src="./images/sale/sale-watch3@1x-mob.jpg" alt="Wrist Watch" width="80" height="80" />
                    </picture>
                </li>
                <li class="sale-gallery-block-small-img">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./images/sale/sale-watch4@1x-dest.jpg 1x, ./images/sale/sale-watch4@2x-dest.jpg 2x" width="146"
                            height="146" />
                        <source media="(min-width: 768px)" srcset="./images/sale/sale-watch4@1x.jpg 1x, ./images/sale/sale-watch4@2x.jpg 2x"
                            width="146" height="146" />
                        <source media="(min-width: 375px)"
                            srcset="./images/sale/sale-watch4@1x-mob.jpg 1x, ./images/sale/sale-watch4@2x-mob.jpg 2x" width="80"
                            height="80" />
                        <img class="sale-main-sm-img" src="./images/sale/sale-watch4@1x-mob.jpg" alt="Wrist Watch" width="80" height="80" />
                    </picture>
                </li>
            </ul>
            <ul class="sale-gallery-block-large">
                <li class="sale-gallery-block-large-image">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./images/sale/sale-watch5@1x-dest.jpg 1x, ./images/sale/sale-watch5@2x-dest.jpg 2x" width="406px" height="614px"/>
                        <source media="(min-width: 768px)" srcset="./images/sale/sale-watch5@1x.jpg 1x, ./images/sale/sale-watch5@2x.jpg 2x"
                            width="406px" height="614px" />
                        <source media="(min-width: 375px)"
                            srcset="./images/sale/sale-watch5@1x-mob.jpg 1x, ./images/sale/sale-watch5@2x-mob.jpg 2x" width="235" height="350" />
                        <img class="sale-main-lg-img" src="./images/sale/sale-watch5@1x-mob.jpg" alt="Wrist Watch" width="235" height="350" />
                    </picture>
                </li>
            </ul>
        </div>
        <div class="accordion-block">
            <div class="accordion">
                <h1 class="product-name">Greenlane Watch By Police For MenHT</h1>
                <p class="product-tag">Product tag: PEWJK2227003</p>
                <div class="price-wrapper">
                    <p class="sale-price">€700</p>
                    <p class="original-price">€1000</p>
                </div>
                <hr>
                <div class="container">
                    <div class="label">DESCRIPTION</div>
                    <div class="content description">Hypertext Markup Language (HTML) is a computer language that makes up most
                        web
                        pages and online applications. A hypertext is a text that is used to reference other pieces of text,
                        while a markup language is a series of markings that tells web servers the style and structure of a
                        document. HTML is very simple to learn and use.</div>
                </div>
                <hr>
                <div class="container">
                    <div class="label">DETAILS & FEATURES</div>
                    <div class="content">
                        <ul class="details-and-features-list">
                            <li class="details-and-features-item">Gender: man</li>
                            <li class="details-and-features-item">Size: 46x54.5mm</li>
                            <li class="details-and-features-item">Case Colour: Steel</li>
                            <li class="details-and-features-item">Band Material: Metal</li>
                            <li class="details-and-features-item">Case Material: Metal</li>
                            <li class="details-and-features-item">Features: Multifunction</li>
                            <li class="details-and-features-item">Water Resistant: 5 (ATM)</li>
                            <li class="details-and-features-item">Band Colour: Steel</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
