<section class="sale-section container">
    <h2 class="sale-section-title">Sale</h2>
    <div class="sale-section-wrapper">
        <div class="sale-gallery-block">
            <ul class="sale-gallery-sub-block">
                <li class="sale-sm-img"><img src="./images/sale/sale-watch1@1x-dest.jpg" alt="Wristwatch Small" width="146" height="146"></li>
                <li class="sale-sm-img"><img src="./images/sale/sale-watch2@1x-dest.jpg" alt="Wristwatch Small" width="146" height="146"></li>
                <li class="sale-sm-img"><img src="./images/sale/sale-watch3@1x-dest.jpg" alt="Wristwatch Small" width="146" height="146"></li>
                <li class="sale-sm-img"><img src="./images/sale/sale-watch4@1x-dest.jpg" alt="Wristwatch Small" width="146" height="146"></li>
            </ul>
            <ul class="sale-gallery-sub-block">
                <li class="sale-lg-img"><img src="./images/sale/sale-watch5@1x.jpg" alt="Wristwatch Large" width="406" height="614"></li>
            </ul>
        </div>
        <div class="sale-description-block">
            <ul class="sale-description-list">
                <li class="sale-descr-sub-block">
                    <h2 class="product-name">Greenlane Watch By Police For MenHT</h2>
                    <p class="product-tag">Product tag: PEWJK2227003</p>
                    <div class="price-wrapper">
                        <p class="sale-price">€700</p>
                        <p class="original-price">€1000</p>
                    </div>
                </li>
                <li class="sale-descr-sub-block">
                    <h2 class="descr-subheading">Description</h2>
                    <p class="product-description">Richly detailed with an understated design - the Police Men’s Greenlane watch features a versatile multifunction design
                        that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black dial. The timepiece exhibits a contrast through a black
                        IP bracelet with matching crown and pushers.</p>
                </li>
                <li class="sale-descr-sub-block">
                    <h2 class="descr-subheading">DETAILS & FEATURES</h2>
                    <p class="product-description">
                        Gender: man <br>
                        Size: 46x54.5mm <br>
                        Case Colour: Steel <br>
                        Band Material: Metal <br>
                        Case Material: Metal <br>
                        Features: Multifunction <br>
                        Water Resistant: 5 (ATM) <br>
                        Band Colour: Steel
                    </p>
                </li>
            </ul>
        </div>
    </div>
    
</section>